{{!-- {{#if hasProducts}}
  {{#each products}}
    <div class="product-card">
      <h3>{{this.title}}</h3>
      <p>{{this.price}}</p>
      <img src="{{this.imgUrl}}" />
      <p>{{this.description}}</p>
    </div>
  {{/each}}
{{else}}
  No Products !
{{/if}} --}}